<app-toolbar>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-radio-group (ngModelChange)="loadMenu()" *ngIf="isAllowAppMenu" [(ngModel)]="platform"
                      style="margin-right: 8px;">
        <label nz-radio-button [nzValue]="1">PC端</label>
        <label nz-radio-button [nzValue]="2">移动端</label>
      </nz-radio-group>
      <button (click)="showAddMenuModal()"
              *permIf="'MENU_ADD'" nz-button
              nzType="primary">新增
      </button>
    </div>
    <div nz-col nzSpan="12" class="right">
      <button nz-button nzType="default" [nzLoading]="loading" (click)="loadMenu()">
        <span nz-icon nzType="reload"></span> 重新加载
      </button>
    </div>
  </div>
</app-toolbar>
<app-box-container>


  <nz-table #expandTable
            [nzData]="listOfMapData"
            nzSize="small"
            nzTableLayout="fixed"
            nzBordered
            [nzLoading]="loading"
            [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="200px">菜单名称</th>
      <th nzWidth="80px">类型</th>
      <th>路由</th>
      <th nzWidth="80px">顺序</th>
      <th nzWidth="350px">图标</th>
      <th nzWidth="120px">状态</th>
      <th nzWidth="120px">是否可见</th>
      <th nzWidth="120px">生产环境可见</th>
      <th nzWidth="250px">操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.menuId]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level! * 20"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.menuId], item, $event)"
          >
            <app-menu-icon [icon]="item.menuIcon"/>
            {{ item.menuName }}
          </td>
          <td>{{ item.menuType == 1 ? '菜单组' : '菜单项' }}</td>
          <td>{{ item.menuUrl }}</td>
          <td>{{ item.sortNum || '-' }}</td>
          <td>{{ item.menuIcon }}</td>
          <td>
            <nz-badge *ngIf="item.isEnable" nzStatus="success" nzText="正常"></nz-badge>
            <nz-badge *ngIf="!item.isEnable" nzStatus="error" nzText="停用"></nz-badge>
          </td>
          <td>{{ item.isVisible ? '是' : '否' }}</td>
          <td>{{ item.isProductionVisible ? '是' : '否' }}</td>
          <td>
            <ng-container *permIf="'MENU_ADD'">
              <button (click)="showAddMenuModal(item)" *ngIf="item.menuType == 1" nz-button nzSize="small"
                      nzType="primary">添加
              </button>
            </ng-container>

            <button (click)="showEditMenuModal(item)"
                    *permIf="'MENU_UPDATE'" nz-button
                    nzSize="small" nzType="default">修改
            </button>
            <ng-container *permIf="'MENU_DELETE'">
              <button (nzOnConfirm)="deleteMenu(item.menuId)"
                      *ngIf="!item.children || item.children.length == 0" nz-button
                      nz-popconfirm
                      nzDanger
                      nzPopconfirmTitle="是否确认删除此菜单?"
                      nzSize="small"
                      nzType="primary">删除
              </button>
            </ng-container>
            <ng-container *permIf="'MENU_CHANGE_STATE'">
              <button (click)="toggleState(item.menuId, false)" *ngIf="item.isEnable" nz-button nzDanger nzSize="small"
                      nzType="default">禁用
              </button>
              <button (click)="toggleState(item.menuId, true)" *ngIf="!item.isEnable" class="ant-btn-success" nz-button
                      nzSize="small">启用
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</app-box-container>

<app-menu-add-modal #menuAddModal (onSuccess)="loadMenu()"/>
