<app-toolbar>
  <div nz-row>
    <div nz-col nzSpan="12">
      <button nz-button nzType="primary">新增</button>
      <button nz-button nzType="default">展开/折叠所有</button>
    </div>
    <div nz-col nzSpan="12" class="right">
      <button nz-button nzType="default" nzShape="circle"><span nz-icon nzType="reload"></span></button>
    </div>
  </div>
</app-toolbar>
<nz-table #expandTable [nzData]="listOfMapData" nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzWidth="200px">菜单名称</th>
    <th nzWidth="80px">类型</th>
    <th >路由</th>
    <th nzWidth="80px">顺序</th>
    <th nzWidth="120px">是否可用</th>
    <th nzWidth="120px">是否可见</th>
    <th nzWidth="120px">生产环境可见</th>
    <th nzWidth="250px">操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.menuId]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level! * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.menuId], item, $event)"
        >
          <span nz-icon [nzType]="item.menuIcon" nzTheme="outline"></span>
          {{ item.menuName }}
        </td>
        <td>{{ item.menuType }}</td>
        <td>{{ item.menuUrl }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button nz-button nzSize="small" nzType="primary">添加</button>
          <button nz-button nzSize="small" nzType="default">修改</button>
          <button nz-button nzSize="small" nzType="primary" nzDanger>删除</button>
          <button nz-button nzSize="small" nzType="default" nzDanger>禁用</button>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
