<div class="search-form-bar">
  <div [class]="{'search-form': true, 'single-line': itemNum <= columnNum}">
    <ng-content />
    <div class="collapsed-btn" *ngIf="isShowCollapsed" (click)="toggleCollapsed()">
      <span [class]="isCollapsed ? 'collapsed':'un-collapsed' " nz-icon nzType="double-right" nzTheme="outline"></span>
    </div>
  </div>
  <div class="search-form-button">
    <button nz-button nzType="primary" (click)="search()">
      <span nz-icon nzType="search"></span>
      查询
    </button>
    <button nz-button nzType="default" (click)="reset()">
      <span nz-icon nzType="clear"></span>
      重置
    </button>
  </div>
</div>
