<nz-modal [(nzVisible)]="isVisible" nzWidth="700px" nzTitle="修改参数值" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <div nz-row *ngIf="property" [nzGutter]="[12, 12]">
      <div nz-col [nzSpan]="6" class="text-label">参数名称</div>
      <div nz-col [nzSpan]="18" class="text-value">{{property.propertyName}}</div>

      <div nz-col [nzSpan]="6" class="text-label">值</div>
      <div nz-col [nzSpan]="12" class="text-value">
        <app-property-value [(ngModel)]="value" [dkPropertyType]="property.type" [dkNumberScope]="{min, max}" [dkListScope]="list" [dkEnumScope]="options" />
      </div>
      <div nz-col [nzSpan]="2" class="text-unit ">{{ property.unit }}</div>
      <div nz-col [nzSpan]="4" style="text-align: right;line-height: 32px">
        <button nz-button nzType="primary" nzSize="small" (click)="setToDefaultValue()">设为默认</button>
      </div>

      <div nz-col [nzSpan]="6" class="text-label">描述</div>
      <div nz-col [nzSpan]="18" class="text-value">{{property.remark}}</div>

      <div nz-col [nzSpan]="6" class="text-label">默认值</div>
      <div nz-col [nzSpan]="18" class="text-value">{{property.defaultValue}}</div>

      <div nz-col [nzSpan]="6" class="text-label">当前值</div>
      <div nz-col [nzSpan]="18" class="text-value">{{property.value}}</div>
    </div>
  </ng-container>
</nz-modal>
