<app-tpl-search-bar [formGroup]="searchForm"
                    (onSearch)="search()"
                    [buttons]="tableButtons"
                    [loading]="tableLoading"
                    buttonPosition="BR"
                    [items]="[
                          {name: 'userGroupName', label: '用户组名称', item: userGroupName},
                        ]">
  <ng-template #userGroupName>
    <input nz-input placeholder="模糊搜索用户组名称" formControlName="userGroupName"/>
  </ng-template>
  <ng-template #tableButtons>
    <button (click)="showAddModal()" *permIf="'USER_GROUP_ADD'" nz-button nzType="primary">
      <span nz-icon nzType="plus"></span>
      新增
    </button>
  </ng-template>
</app-tpl-search-bar>

<app-box-container>
  <nz-table #userGroupsTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="tableOptions.total"
            [(nzPageIndex)]="tableOptions.pageIndex"
            [(nzPageSize)]="tableOptions.pageSize"
            [nzLoading]="tableLoading"
            [nzData]="userGroups"
            (nzPageSizeChange)="loadUserGroups()"
            (nzPageIndexChange)="loadUserGroups()">
    <thead>
    <tr>
      <th>用户组名称</th>
      <th nzWidth="200px">用户数量</th>
      <th nzWidth="200px">顺序</th>
      <th nzWidth="200px">状态</th>
      <th nzWidth="250px">创建时间</th>
      <th nzWidth="250px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userGroupsTable.data">
      <td>
        <ng-container *permIf="'USER_GROUP_DETAILS' else textGroupName">
          <a [queryParams]="{userGroupId: data.userGroupId}"
             routerLink="/sys/user-group/details">{{ data.userGroupName }}</a>
        </ng-container>
        <ng-template #textGroupName>
          {{ data.userGroupName }}
        </ng-template>
      </td>
      <td>{{ data.userNum || 0 }}</td>
      <td>{{ data.sortNum || 0 }}</td>
      <td>
        <nz-badge nzStatus="success" *ngIf="data.isEnable" nzText="正常"></nz-badge>
        <nz-badge nzStatus="error" *ngIf="!data.isEnable" nzText="停用"></nz-badge>
      </td>
      <td>{{ data.createTime }}</td>
      <td>
        <button (click)="showEditModal(data)" *permIf="'USER_GROUP_UPDATE'" nz-button
                nzSize="small"
                nzType="default">修改
        </button>
        <button nz-button nzSize="small"
                nzType="primary"
                [nzLoading]="deleteLoading"
                nz-popconfirm
                nzPopconfirmTitle="是否确认删除此用户组?"
                (nzOnConfirm)="delete(data.userGroupId)"
                *permIf="'USER_GROUP_DELETE'"
                nzDanger>删除
        </button>

        <button nz-button nzSize="small"
                routerLink="/sys/user-group/details" [queryParams]="{userGroupId: data.userGroupId}"
                *permIf="'USER_GROUP_DETAILS'"
                nzType="default">管理
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</app-box-container>
<app-user-group-edit-modal #userGroupEditModalComponent (onSuccess)="loadUserGroups()"/>

