<app-details-operation-bar>
  <ng-container *ngIf="!userDetails?.isAdmin">
    <button (click)="toggleState(true)" *ngIf="!userDetails?.isEnable"
            class="ant-btn-success"
            nz-button
            [nzLoading]="stateLoading"
            nzType="default">启用
    </button>
    <button (click)="toggleState(false)" *ngIf="userDetails?.isEnable"
            nz-button
            [nzLoading]="stateLoading"
            nzDanger
            nzType="default">禁用
    </button>
  </ng-container>
  <button (click)="resetPassword()"
          [nzLoading]="resetPasswordLoading"
          nz-button nzDanger
          nzType="primary">重置密码
  </button>
</app-details-operation-bar>

<app-section dkTitle="用户基本信息">
  <nz-skeleton [nzActive]="true" [nzLoading]="userDetailsLoading">
    <nz-descriptions *ngIf="userDetails" nzBordered style="margin-bottom: 24px">
      <nz-descriptions-item nzTitle="用户名">
        {{ userDetails.username }}
        <nz-tag *ngIf="userDetails.isAdmin" nzColor="red">超级管理员</nz-tag>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="姓名">{{ userDetails.name }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="手机号">{{ userDetails.phoneNumber }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="状态">
        <nz-badge *ngIf="userDetails.isEnable" nzStatus="success" nzText="正常"></nz-badge>
        <nz-badge *ngIf="!userDetails.isEnable" nzStatus="error" nzText="停用"></nz-badge>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="部门">{{ userDetails.deptName }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建时间">{{ userDetails.createTime }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="最后登录时间">{{ userDetails.lastLoginTime }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="职位">{{ userDetails.positionName }}</nz-descriptions-item>
      <nz-descriptions-item></nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="3" nzTitle="用户组">
        <ng-container *ngIf="userDetails.userGroups">
          @for (item of userDetails.userGroups; track item.userGroupId) {
            <nz-tag nzColor="cyan">{{ item.userGroupName }}</nz-tag>
          }
        </ng-container>
      </nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="3" nzTitle="角色">
        <ng-container *ngIf="userDetails.roles">
          @for (item of userDetails.roles; track item.roleId) {
            <nz-tag nzColor="blue" *ngIf="!item.isUserGroup">{{ item.roleName }}</nz-tag>
            <nz-tag nzColor="geekblue" *ngIf="item.isUserGroup"
                    nz-tooltip
                    nzTooltipTitle="此角色来源于用户组">
              <iconify icon="mingcute:group-line" [size]="12"/>
              {{ item.roleName }}
            </nz-tag>
          }
        </ng-container>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-skeleton>
</app-section>

<app-section dkTitle="拥有权限">
  <nz-alert *ngIf="userDetails?.isAdmin"
            [nzMessage]="message"
            nzShowIcon
            nzType="info"
            style="margin-bottom: 24px"/>
  <ng-template #message>
    此用户是超级管理员，默认拥有系统所有功能权限。为此用户分配角色或设置用户组，均<b>不生效</b>，即无法通过角色和设置用户组来影响此用户的权限。
  </ng-template>
  <div [nzGutter]="24" nz-row>
    <div [nzSpan]="hasAppMenuPermission ? 12 : 24" nz-col>
      <app-role-menu-table [dkLoading]="userDetailsLoading" [dkRoleMenus]="pcMenuPermissions" dkTitle="PC端"/>
    </div>
    <div *ngIf="hasAppMenuPermission" [nzSpan]="12" nz-col>
      <app-role-menu-table [dkLoading]="userDetailsLoading" [dkRoleMenus]="appMenuPermissions" dkTitle="移动端"/>
    </div>
  </div>
</app-section>

<app-section dkTitle="登录记录">
  <nz-table #loginLogTable
            [nzFrontPagination]="false"
            nzTableLayout="fixed"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="loginLogTableOptions.total"
            [(nzPageIndex)]="loginLogTableOptions.pageIndex"
            [(nzPageSize)]="loginLogTableOptions.pageSize"
            [nzLoading]="loginLogTableLoading"
            [nzData]="loginLogs"
            (nzPageSizeChange)="loadLoginLogs()"
            (nzPageIndexChange)="loadLoginLogs()">
    <thead>
    <tr>
      <th nzWidth="100px">平台</th>
      <th nzWidth="150px">登录方式</th>
      <th nzWidth="250px">登录时间</th>
      <th nzWidth="250px">登录IP</th>
      <th nzEllipsis>UserAgent</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of loginLogTable.data">
      <td>{{ data.loginPlatformName }}</td>
      <td>{{ data.loginTypeName }}</td>
      <td>{{ data.loginTime }}</td>
      <td>{{ data.loginIp }}</td>
      <td>{{ data.userAgent }}</td>
    </tr>
    </tbody>
  </nz-table>
</app-section>


