[build]
base = "/"
publish = "dist/darkblue-web-ui/browser"
command = "npm run install && npm run build"
[[redirects]]
from = "/darkblue-api/*"
to = "http://62.234.145.197:8087/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }
[[redirects]]
from = "/*"
to = "/index.html"
status = 200

