<app-details-operation-bar/>
<app-section dkTitle="权限信息">
  <nz-skeleton [nzActive]="true" [nzLoading]="detailsLoading">
    <nz-descriptions nzBordered style="margin-bottom: 24px">
      <nz-descriptions-item nzTitle="权限名称">{{ permission?.permissionName }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="权限编码">{{ permission?.permissionCode }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建时间">{{ permission?.createTime }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-skeleton>
</app-section>

<app-section dkTitle="关联资源">
  <nz-table #resourceTable
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            nzBordered
            nzSize="small"
            nzTableLayout="fixed"
            [nzLoading]="detailsLoading"
            [nzData]="resources">
    <thead>
    <tr>
      <th nzWidth="180px">资源名称</th>
      <th nzWidth="100px">请求方式</th>
      <th>资源地址</th>
      <th>控制层类</th>
      <th nzWidth="180px">方法</th>
      <th nzWidth="160px">创建时间</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let resItem of resourceTable.data">
      <tr>
        <td nzEllipsis>{{ resItem.resourceName }}</td>
        <td>{{ resItem.requestMethod }}</td>
        <td [nzEllipsis]="true" [title]="resItem.resourceUrl">{{ resItem.resourceUrl }}</td>
        <td [nzEllipsis]="true" [title]="resItem.controller">{{ resItem.controller }}</td>
        <td nzEllipsis>{{ resItem.method }}</td>
        <td>{{ resItem.createTime }}</td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</app-section>

<app-section [dkExtra]="reloadButton" dkTitle="包含此权限的角色">
  <nz-table #roleTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="roleTableOptions.total"
            [(nzPageIndex)]="roleTableOptions.page"
            [(nzPageSize)]="roleTableOptions.pageSize"
            [nzLoading]="roleTableLoading"
            [nzData]="roles"
            (nzPageSizeChange)="loadRoles()"
            (nzPageIndexChange)="loadRoles()">
    <thead>
    <tr>
      <th>角色编码</th>
      <th>角色名称</th>
      <th>状态</th>
      <th>是否内置</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of roleTable.data">
      <td>{{ data.roleCode }}</td>
      <td><a>{{ data.roleName }}</a></td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
      <td>{{ data.isBuiltIn ? '是' : '否' }}</td>
      <td>{{ data.createTime }}</td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #reloadButton>
    <button (click)="loadRoles()" [nzLoading]="roleTableLoading" nz-button nzType="default">
      <span nz-icon nzType="reload"></span> 重新加载
    </button>
  </ng-template>
</app-section>
