<nz-layout class="user-layout">
  <nz-sider class="dept-sider" nzWidth="300px">
    <app-department-tree (onSelect)="onTreeNodeSelected($event)"/>
  </nz-sider>
  <nz-content class="user-content">
    <app-tpl-search-bar [formGroup]="userSearchForm"
                        (onSearch)="search()"
                        [buttons]="tableButtons"
                        [loading]="tableLoading"
                        [items]="[
                          {name: 'name', label: '姓名', item: name},
                          {name: 'username', label: '用户名', item: username},
                          {name: 'phoneNumber', label: '手机号码', item: phoneNumber}
                        ]">
      <ng-template #name>
        <input nz-input placeholder="模糊搜索姓名" formControlName="name"/>
      </ng-template>
      <ng-template #username>
        <input nz-input placeholder="模糊搜索用户名" formControlName="username"/>
      </ng-template>
      <ng-template #phoneNumber>
        <input nz-input placeholder="搜索手机号" formControlName="phoneNumber"/>
      </ng-template>
    </app-tpl-search-bar>

    <ng-template #tableButtons>
      <button nz-button nzType="primary" (click)="showAddModal()" [disabled]="!(selectedDepartment && selectedDepartment.key)">
        <span nz-icon nzType="plus"></span>
        新增
      </button>
    </ng-template>

    <nz-table #basicTable
              [nzFrontPagination]="false"
              nzShowPagination
              nzBordered
              nzSize="small"
              [nzTotal]="tableOptions.total"
              [(nzPageIndex)]="tableOptions.pageIndex"
              [(nzPageSize)]="tableOptions.pageSize"
              [nzLoading]="tableLoading"
              [nzData]="users"
              (nzPageSizeChange)="loadUsers()"
              (nzPageIndexChange)="loadUsers()">
      <thead>
      <tr>
        <th>用户名</th>
        <th>姓名</th>
        <th>手机号</th>
        <th>所在部门</th>
        <th>角色</th>
        <th>状态</th>
        <th>最后登录时间</th>
        <th nzWidth="220px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><a (click)="gotoDetails(data)">{{ data.username }}</a></td>
        <td>{{ data.name }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.deptName }}</td>
        <td>{{ getRolesName (data.roles) }}</td>
        <td>{{ data.isEnable ? '正常' : '停用' }}</td>
        <td>{{ data.lastLoginTime }}</td>
        <td>
          <button nz-button nzSize="small" nzType="default" (click)="showEditModal(data)">修改</button>
          <button nz-button nzSize="small"
                  nzType="primary"
                  [nzLoading]="deleteLoading"
                  nz-popconfirm
                  nzPopconfirmTitle="是否确认删除此用户?"
                  (nzOnConfirm)="deleteUser(data.userId)"
                  nzDanger>删除
          </button>
          <button *ngIf="data.isEnable"
                  [nzLoading]="stateLoading"
                  nz-button nzSize="small"
                  nzType="default" nzDanger (click)="disable(data)">禁用
          </button>
          <button *ngIf="!data.isEnable"
                  [nzLoading]="stateLoading"
                  nz-button nzSize="small"
                  nzType="default" nzDanger (click)="enable(data)">启用
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<app-user-add-modal #userAddModalComponent (onSuccess)="loadUsers()"/>
