<!--
<p>welcome works!</p>

<button *aclIf="['ADMIN']">user</button>
<button *permIf="'USER_EDIT'">user add 2</button>
<button>user add 3</button>
-->


<nz-row [nzGutter]="24">
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(138674 | number)!" nzTitle="用户数量"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(7850 | number)!" nzTitle="活跃用户量"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(1050 | number)!" nzTitle="在线用户量"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(1800 | number)!" nzTitle="新用户量（月）"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(18089 | number)!" nzTitle="业务操作量（日）"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="(8089 | number)!" nzTitle="未完成待办"></nz-statistic>
  </nz-col>
</nz-row>
