<app-tow-column>
  <ng-container *twoColumnSider>
    <nz-card [nzBordered]="false" [nzTitle]="menuTitle" [nzExtra]="extraTemplate">
      <nz-spin [nzSpinning]="menuLoading" class="spin-container">
        <nz-tree (nzClick)="onTreeNodeClick($event)" [nzData]="menus" [nzTreeTemplate]="nzTreeTemplate">
          <ng-template #nzTreeTemplate let-node let-origin="origin">
            <app-menu-icon [icon]="node.icon"/>
            <span>{{ node.title }}</span>
          </ng-template>
        </nz-tree>
      </nz-spin>

    </nz-card>
    <ng-template #extraTemplate>
      <button nz-button nzType="default" nzShape="circle" (click)="loadMenus()" [nzLoading]="menuLoading">
        <span nz-icon nzType="reload" nzTheme="outline"></span>
      </button>
    </ng-template>
    <ng-template #menuTitle>
      <nz-radio-group (ngModelChange)="onPlatformChange()" *ngIf="isAllowAppMenu else textTitle" [(ngModel)]="platform"
                      style="margin-right: 8px;">
        <label nz-radio-button [nzValue]="1">PC端</label>
        <label nz-radio-button [nzValue]="2">移动端</label>
      </nz-radio-group>
      <ng-template #textTitle>
        系统菜单
      </ng-template>
    </ng-template>
  </ng-container>
  <div>
    <app-tpl-search-bar [formGroup]="searchForm"
                        [buttons]="tableButtons"
                        (onSearch)="search()"
                        [items]="[
                          {name: 'permissionCode', label: '权限标识', item: permissionCode},
                          {name: 'permissionName', label: '权限名称', item: permissionName}
                        ]"
    >
      <ng-template #permissionCode>
        <input nz-input placeholder="模糊搜索权限标识" formControlName="permissionCode"/>
      </ng-template>
      <ng-template #permissionName>
        <input nz-input placeholder="模糊搜索权限名称" formControlName="permissionName"/>
      </ng-template>
      <ng-template #tableButtons>
        <button (click)="showAddModal()"
                *permIf="'PERMISSION_ADD'" [disabled]="!selectedMenu"
                nz-button nzType="primary">
          <span nz-icon nzType="plus"></span>
          新增
        </button>
      </ng-template>
    </app-tpl-search-bar>

    <app-box-container>
      <nz-table #basicTable
                [nzFrontPagination]="false"
                nzShowPagination
                nzBordered
                nzSize="small"
                [nzLoading]="tableLoading"
                [nzTotal]="tableOptions.total"
                [(nzPageIndex)]="tableOptions.pageIndex"
                [(nzPageSize)]="tableOptions.pageSize"
                nzTableLayout="fixed"
                [nzData]="permissions">
        <thead>
        <tr>
          <th>所属菜单</th>
          <th>权限名称</th>
          <th>权限编码</th>
          <th nzWidth="130px">资源数量</th>
          <th nzWidth="230px">操作</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr>
            <td>{{ data.menuName }}</td>
            <td>
              <ng-container *permIf="'PERMISSION_DETAILS' else permissionNameTpl">
                <a [queryParams]="{permissionId: data.permissionId}"
                   routerLink="/sys/permission/details">{{ data.permissionName }}</a>
              </ng-container>
              <ng-template #permissionNameTpl>
                {{ data.permissionName }}
              </ng-template>
            </td>
            <td>{{ data.permissionCode }}</td>
            <td>{{ data.resourceNum || 0 }}</td>
            <td>
              <button *permIf="'PERMISSION_UPDATE'"
                      nz-button nzSize="small"
                      nzType="default"
                      (click)="showUpdateModal(data)">
                修改
              </button>
              <button *permIf="'PERMISSION_DELETE'"
                      nz-button nzSize="small"
                      [nzLoading]="deleteLoading"
                      nzType="primary"
                      nz-popconfirm
                      nzPopconfirmTitle="是否确认删除此用户?"
                      (nzOnConfirm)="doDelete(data.permissionId)"
                      nzDanger>删除
              </button>
              <button *permIf="'PERMISSION_BIND_RESOURCE'"
                      nz-button nzSize="small"
                      (click)="showBindResourceModal(data)"
                      nzType="default">
                绑定资源
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </app-box-container>
  </div>

</app-tow-column>

<app-permission-edit-modal #permissionEditModalComponent (onSuccess)="loadPermissions()"/>
<app-bind-resource-modal #bindResourceModalComponent/>
