<app-tow-column>
  <ng-container *twoColumnSider>
    <nz-card [nzBordered]="false" nzTitle="系统菜单" [nzExtra]="extraTemplate">
      <nz-tree [nzData]="menus" nzShowIcon (nzClick)="onTreeNodeClick($event)"></nz-tree>
    </nz-card>
    <ng-template #extraTemplate>
      <button nz-button nzType="default" nzShape="circle" (click)="loadMenus()" [nzLoading]="menuLoading">
        <span nz-icon nzType="reload" nzTheme="outline"></span>
      </button>
    </ng-template>
  </ng-container>
  <div>
    <app-tpl-search-bar [formGroup]="searchForm"
                        [buttons]="tableButtons"
                        buttonPosition="R"
                        [items]="[
                          {name: 'permissionCode', label: '权限标识', item: permissionCode},
                          {name: 'permissionName', label: '权限名称', item: permissionName}
                        ]"
    >
      <ng-template #permissionCode>
        <input nz-input placeholder="模糊搜索权限标识" formControlName="permissionCode"/>
      </ng-template>
      <ng-template #permissionName>
        <input nz-input placeholder="模糊搜索权限名称" formControlName="permissionName"/>
      </ng-template>
      <ng-template #tableButtons>
        <button nz-button nzType="primary" (click)="showAddModal()" [disabled]="!selectedMenu">
          <span nz-icon nzType="plus"></span>
          新增
        </button>
      </ng-template>
    </app-tpl-search-bar>

    <nz-table #basicTable
              [nzFrontPagination]="false"
              nzShowPagination
              nzBordered
              nzSize="small"
              [nzTotal]="tableOptions.total"
              [(nzPageIndex)]="tableOptions.pageIndex"
              [(nzPageSize)]="tableOptions.pageSize"
              nzTableLayout="fixed"
              [nzData]="permissions">
      <thead>
      <tr>
        <th>所属菜单</th>
        <th>权限名称</th>
        <th>权限编码</th>
        <th nzWidth="230px">操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td>{{ data.menuName }}</td>
          <td><a routerLink="/sys/permission/details" [queryParams]="{permissionId: data.permissionId}">{{ data.permissionName }}</a></td>
          <td>{{ data.permissionCode }}</td>
          <td>
            <button nz-button nzSize="small"
                    nzType="default"
                    (click)="showUpdateModal(data)">
            修改
            </button>
            <button nz-button nzSize="small"
                    [nzLoading]="deleteLoading"
                    nzType="primary"
                    nz-popconfirm
                    nzPopconfirmTitle="是否确认删除此用户?"
                    (nzOnConfirm)="doDelete(data.permissionId)"
                    nzDanger>删除
            </button>
            <button nz-button nzSize="small"
                    (click)="showBindResourceModal(data)"
                    nzType="default">
            绑定资源
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
  </div>

</app-tow-column>

<app-permission-edit-modal #permissionEditModalComponent (onSuccess)="loadPermissions()" />
<app-bind-resource-modal #bindResourceModalComponent/>
