.menu-permissions-container {
  padding: 24px;
  border: 1px solid #dddddd;
  background-color: white;
}

.menu-permissions-container .menu-permissions-header {
  display: inline-block;
  position: absolute;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  margin-top: -36px;
  padding: 0 10px;
  background-color: white;
}
