<nz-modal [(nzVisible)]="isVisible"
          nzDraggable
          nzWidth="800px"
          [nzTitle]="isEdit ? '修改权限' : '添加权限'"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <form (keydown.enter)="doSubmit(false)" (ngSubmit)="doSubmit(false)" [formGroup]="dataForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">所属菜单</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input formControlName="menuName" readonly/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>权限名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="权限名称不能为空">
          <input nz-input formControlName="permissionName"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>权限编码</nz-form-label>
        <nz-form-control [nzErrorTip]="permissionCodeErrorTip" [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="permissionCode"/>
        </nz-form-control>
        <ng-template #permissionCodeErrorTip let-control>
          @if (control.errors?.['required']) {
            权限编码不能为空
          }
          @if (control.errors?.['notStartWithRole']) {
            权限编码不能以 ROLE_ 开头
          }
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">平台</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group formControlName="platform" [nzDisabled]="true">
            <label nz-radio [nzValue]="1">PC端</label>
            <label nz-radio [nzValue]="2">移动端</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button (click)="handleCancel()" nz-button nzType="default">取消</button>
    <button (click)="doSubmit(false)" [nzLoading]="loading" nz-button nzType="primary">确认</button>
    <button (click)="doSubmit(true)" *ngIf="!isEdit" [nzLoading]="loading" nz-button nzType="primary">确认并继续
    </button>
  </div>
</nz-modal>
