<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <img ngSrc="/assets/images/component-exchange.svg" alt="logo" height="10" width="10">
      <h1>DarkBlue Of Angular</h1>
    </div>
    <div class="app-menu">
      <app-menu [isCollapsed]="isCollapsed"></app-menu>
    </div>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row>
          <div nz-col class="gutter-row" [nzSpan]="3">
            <button nz-button nzType="primary" class="header-button" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                    nz-icon
                    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
            </button>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="15">
            <nz-input-group [nzPrefix]="prefixTemplateUser">
              <input type="text" nz-input placeholder="Enter your username"/>
            </nz-input-group>
            <ng-template #prefixTemplateUser><span nz-icon nzType="search" nzTheme="outline"></span></ng-template>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6" style="text-align: right;padding-right:32px;">
            <button nz-button nzType="primary" class="header-button" (click)="showMessagingDrawer()">
              <nz-badge [nzCount]="5" nzSize="small">
                <span nz-icon nzType="bell" style="color: white;font-size: 20px;" nzTheme="outline"></span>
              </nz-badge>
            </button>
            <button nz-button nzType="primary" class="header-button">
              <span nz-icon nzType="setting" style="font-size: 20px;" nzTheme="outline"></span>
            </button>
            <span class="header-avatar"  nz-dropdown [nzDropdownMenu]="menu">
              <nz-avatar nzText="Ad"
                         style="margin-top: -6px;"
                         nzShape="square" [nzSize]="32" [nzGap]="16"></nz-avatar>
              超级管理员
            </span>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable style="min-width: 150px">
                <li nz-menu-item><span nz-icon nzType="user" nzTheme="outline"></span> 个人设置 </li>
                <li nz-menu-item><span nz-icon nzType="key" nzTheme="outline"></span> 修改密码 </li>
                <li><nz-divider style="margin: 5px 0"></nz-divider></li>
                <li nz-menu-item (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span> 退出登录 </li>
              </ul>
            </nz-dropdown-menu>

          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="router-tabs">
        <nz-tabset nzLinkRouter nzType="editable-card" nzHideAdd [nzAnimated]="true" (nzClose)="closeTab($event)" [(nzSelectedIndex)]="selectedTabIndex">
          <nz-tab *ngFor="let item of tabs" [nzClosable]="item.closable">
            <a *nzTabLink nz-tab-link [routerLink]="[item.routerLink]" [queryParams]="item.queryParams" queryParamsHandling="merge">
              {{ item.name }}
            </a>
          </nz-tab>
        </nz-tabset>
      </div>

      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="footer" *ngIf="showFooter">Power by <a href="https://dblue.org">DarkBlue</a></nz-footer>
  </nz-layout>
</nz-layout>

<app-messaging #messaging></app-messaging>
