:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  height: 100vh;
  /*box-shadow: 2px 0 6px rgba(0, 21, 41, .35);*/
}

.app-menu {
  height: calc(100% - 64px);
  overflow-y: auto;
}

.ant-layout-sider {
  background: #fff;

}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  /*background: #001529;*/
  background: #1890ff;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  /*background: #fff;*/
  background: #1890ff;
  /*box-shadow: 0 1px 4px rgba(0, 21, 41, .08);*/
}

nz-content {
  margin: 24px;
}

.router-tabs {
  /*background: #fff;*/
  padding: 0 8px 0 0;
}

.router-tabs ::ng-deep .ant-tabs-nav {
  background-color: #fff;
  padding: 8px 8px 2px 8px;
  border-bottom: 1px solid #f0f0f0;
}

.inner-content {
  /*padding: 8px 24px 24px 24px;*/
  /*background: #fff;*/
  padding-right: 8px;
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  padding: 5px 24px;
  text-align: center;
  background: #fff;
  border-left: 1px solid #f0f0f0;
}

.header-button {
  box-shadow: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 6px;
}

.app-header .ant-btn-icon-only {
  width: 52px;
}

.header-avatar {
  display: inline-block;
  color: white;
  height: 48px;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-avatar:hover {
  background-color: #40a9ff;
  cursor: pointer;
}


.ant-tabs-dropdown-menu-item a[nz-tab-link] {
  position: relative !important;
}

a[nz-tab-link] {
  position: static !important;
}

