<nz-spin [nzSpinning]="isLogoutLoading" nzTip="正在退出..." style="width: 100%;height: 100%">
  <nz-layout class="app-layout">
    <nz-sider [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null"
              class="menu-sidebar"
              nzBreakpoint="md"
              nzCollapsible
              nzWidth="256px">
      <div class="sidebar-logo">
        <img alt="logo" height="10" ngSrc="/assets/images/logo-white.svg" width="10">
        <h1 *ngIf="!isCollapsed">Dark Blue Of Angular</h1>
      </div>
      <div class="app-menu">
        <app-menu [isCollapsed]="isCollapsed"></app-menu>
      </div>

    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <div nz-row>
            <div [nzSpan]="3" class="gutter-row" nz-col>
              <button (click)="isCollapsed = !isCollapsed" class="header-button" nz-button nzType="primary">
              <span class="trigger"
                    nz-icon
                    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
              </button>
            </div>
            <div [nzSpan]="15" class="gutter-row" nz-col>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input (keydown.enter)="doSearch()"
                       [(ngModel)]="keyword"
                       nz-input
                       placeholder="搜索用户、职位、角色等信息"
                       type="text"/>
              </nz-input-group>
              <ng-template #prefixTemplateUser><span nz-icon nzTheme="outline" nzType="search"></span></ng-template>
            </div>
            <div [nzSpan]="6" class="gutter-row" nz-col style="text-align: right;padding-right:32px;">
              <button (click)="showMessagingDrawer()" class="header-button" nz-button nzType="primary">
                <nz-badge [nzCount]="5" nzSize="small">
                  <span nz-icon nzTheme="outline" nzType="bell" style="color: white;font-size: 20px;"></span>
                </nz-badge>
              </button>
              <button class="header-button" nz-button nzType="primary">
                <span nz-icon nzTheme="outline" nzType="setting" style="font-size: 20px;"></span>
              </button>
              <span [nzDropdownMenu]="menu" class="header-avatar" nz-dropdown>
              <nz-avatar nzText="Ad"
                         style="margin-top: -6px;"
                         nzShape="square" [nzSize]="32" [nzGap]="16"></nz-avatar>
                {{ userName }}
            </span>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable style="min-width: 150px">
                  <li nz-menu-item><span nz-icon nzTheme="outline" nzType="user"></span> 个人设置</li>
                  <li (click)="showChangePasswordModal()" nz-menu-item>
                    <span nz-icon nzTheme="outline" nzType="key"></span> 修改密码
                  </li>
                  <li>
                    <nz-divider style="margin: 5px 0"></nz-divider>
                  </li>
                  <li (click)="logout()" nz-menu-item>
                    <span nz-icon nzTheme="outline" nzType="logout"></span> 退出登录
                  </li>
                </ul>
              </nz-dropdown-menu>

            </div>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="router-tabs">
          <nz-tabset (nzClose)="closeTab($event)" [(nzSelectedIndex)]="selectedTabIndex" [nzAnimated]="true"
                     [nzTabBarExtraContent]="extraTemplate" nzHideAdd
                     nzLinkRouter
                     nzType="editable-card">
            <nz-tab (nzContextmenu)="showTabContextMenu($event, tabMenu, i)" *ngFor="let item of tabs; let i = index"
                    [nzClosable]="item.closeable">
              <a *nzTabLink [queryParams]="item.queryParams" [routerLink]="[item.routerLink]" nz-tab-link>
                {{ item.name }}
              </a>
            </nz-tab>
          </nz-tabset>
          <ng-template #extraTemplate>
            <button (click)="closeAll()" [disabled]="tabs.length == 1" nz-button>全部关闭</button>
          </ng-template>
        </div>

        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer *ngIf="showFooter" class="footer">
        Copyright © 2024 DBLUE.ORG. Power by <a href="https://dblue.org" target="_blank">Dark Blue
      </a>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-spin>
<app-messaging #messaging></app-messaging>

<nz-dropdown-menu #tabMenu="nzDropdownMenu">
  <ul nz-menu>
    <li (click)="closeOthers()" *ngIf="tabs.length > 2" nz-menu-item>关闭其他标签页</li>
    <li (click)="closeLeft()" *ngIf="clickTabIndex > 1" nz-menu-item>关闭左侧标签页</li>
    <li (click)="closeRight()" *ngIf="clickTabIndex != (tabs.length - 1)" nz-menu-item>关闭右侧标签页</li>
  </ul>
</nz-dropdown-menu>

<app-change-password-modal #changePasswordModalComponent/>
