<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [(nzVisible)]="isVisible"
          [nzOkLoading]="loading"
          nzTitle="修改密码"
          nzWidth="500px">
  <ng-container *nzModalContent>
    <form [formGroup]="dataForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldPassword">当前密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group [nzSuffix]="oldPasswordSuffixTemplate">
            <input [type]="oldPasswordVisible ? 'text' : 'password'"
                   formControlName="oldPassword" id="oldPassword" nz-input type="password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword">新密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group [nzSuffix]="newPasswordSuffixTemplate">
            <input [type]="newPasswordVisible ? 'text' : 'password'"
                   formControlName="newPassword" id="newPassword" nz-input/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<ng-template #oldPasswordSuffixTemplate>
      <span
        (click)="oldPasswordVisible = !oldPasswordVisible"
        [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
        nz-icon
      ></span>
</ng-template>
<ng-template #newPasswordSuffixTemplate>
      <span
        (click)="newPasswordVisible = !newPasswordVisible"
        [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
        nz-icon
      ></span>
</ng-template>
