<app-tpl-search-bar [formGroup]="searchForm"
                    (onSearch)="search()"
                    [buttons]="tableButtons"
                    [loading]="tableLoading"
                    [items]="[
                          {name: 'positionCode', label: '职位编码', item: positionCode},
                          {name: 'positionName', label: '职位名称', item: positionName},
                        ]">
  <ng-template #positionCode>
    <input nz-input placeholder="模糊搜索职位编码" formControlName="positionCode"/>
  </ng-template>
  <ng-template #positionName>
    <input nz-input placeholder="模糊搜索职位名称" formControlName="positionName"/>
  </ng-template>
  <ng-template #tableButtons>
    <button (click)="showAddModal()" *permIf="'POSITION_ADD'" nz-button nzType="primary">
      <span nz-icon nzType="plus"></span>
      新增
    </button>
  </ng-template>
</app-tpl-search-bar>

<app-box-container>
  <nz-table #basicTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="tableOptions.total"
            [(nzPageIndex)]="tableOptions.page"
            [(nzPageSize)]="tableOptions.pageSize"
            [nzLoading]="tableLoading"
            [nzData]="positions"
            (nzPageSizeChange)="loadPositions()"
            (nzPageIndexChange)="loadPositions()">
    <thead>
    <tr>
      <th>职位编码</th>
      <th>职位名称</th>
      <th>用户数量</th>
      <th>状态</th>
      <th>是否内置</th>
      <th>创建时间</th>
      <th nzWidth="230px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.positionCode }}</td>
      <td>
        <ng-container *permIf="'POSITION_DETAILS' else positionNameTpl">
          <a [queryParams]="{positionId: data.positionId}"
             routerLink="/sys/position/details">{{ data.positionName }}</a>
        </ng-container>
        <ng-template #positionNameTpl>
          {{ data.positionName }}
        </ng-template>
      </td>
      <td>{{ data.userNums || 0 }}</td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
      <td>{{ data.isBuiltIn ? '是' : '否' }}</td>
      <td>{{ data.createTime }}</td>
      <td>
        <ng-container *permIf="'POSITION_UPDATE'">
          <button (click)="showEditModal(data)"
                  *ngIf="!data.isBuiltIn"
                  nz-button
                  nzSize="small"

                  nzType="default">修改
          </button>
        </ng-container>

        <ng-container *permIf="'POSITION_DELETE'">
          <button (nzOnConfirm)="delete(data.positionId)" *ngIf="!data.isBuiltIn"
                  [nzLoading]="deleteLoading"
                  nz-button
                  nz-popconfirm
                  nzDanger
                  nzPopconfirmTitle="是否确认删除此职位?"
                  nzSize="small"
                  nzType="primary">删除
          </button>
        </ng-container>
        <ng-container *permIf="'POSITION_CHANGE_STATE'">
          <button (click)="disable(data)"
                  *ngIf="data.isEnable && !data.isBuiltIn"
                  [nzLoading]="stateLoading" nz-button
                  nzDanger nzSize="small" nzType="default">禁用
          </button>
          <button (click)="enable(data)"
                  *ngIf="!data.isEnable && !data.isBuiltIn"
                  [nzLoading]="stateLoading" class="ant-btn-success"
                  nz-button
                  nzSize="small" nzType="default">启用
          </button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</app-box-container>
<app-position-edit-modal #positionEditModalComponent (onSuccess)="loadPositions()"/>
