<nz-modal [(nzVisible)]="isVisible" nzWidth="1200px"
          [nzBodyStyle]="{maxHeight: '1000px', overflowY: 'auto'}"
          nzTitle="设置角色权限" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="选择菜单"></nz-step>
      <nz-step nzTitle="配置权限"></nz-step>
    </nz-steps>
    <div class="steps-content-0" *ngIf="current == 0">
      <div nz-row [nzGutter]="24">
        <div [nzSpan]="isAllowAppMenu ? 12 : 24" nz-col>
          <div class="tree-panel">
            <h3>PC端菜单</h3>
            <nz-tree #menuPcTree
                     [nzData]="pcMenus"
                     nzCheckable
                     nzMultiple
                     nzExpandAll
                     [(nzCheckedKeys)]="pcCheckedMenuIds"
            ></nz-tree>
          </div>
        </div>
        <div *ngIf="isAllowAppMenu" [nzSpan]="12" nz-col>
          <div class="tree-panel">
            <h3>移动端菜单</h3>
            <nz-tree #menuAppTree
                     [nzData]="appMenus"
                     nzCheckable
                     nzMultiple
                     nzExpandAll
                     [(nzCheckedKeys)]="appCheckedMenuIds"
            ></nz-tree>
          </div>
        </div>
      </div>

    </div>
    <div class="steps-content-1" *ngIf="current == 1">
      <nz-skeleton [nzActive]="true" [nzLoading]="nextLoading">
        <div *ngIf="pcMenuPermissions && pcMenuPermissions.length > 0" class="permission-panel">
          <h3>PC端</h3>
          <div [nzGutter]="[24, 24]" nz-row>
            <ng-container *ngFor="let item of pcMenuPermissions; let i = index">
              <app-menu-permissions [(ngModel)]="pcMenuPermissions[i]" [nzSpan]="8" nz-col/>
            </ng-container>
          </div>
        </div>
        <div *ngIf="appMenuPermissions && appMenuPermissions.length > 0 && isAllowAppMenu" class="permission-panel">
          <h3>移动端</h3>
          <div [nzGutter]="[24, 24]" nz-row>
            <ng-container *ngFor="let item of appMenuPermissions; let i = index">
              <app-menu-permissions [(ngModel)]="appMenuPermissions[i]" [nzSpan]="8" nz-col/>
            </ng-container>
          </div>
        </div>
      </nz-skeleton>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <button (click)="pre()" *ngIf="current > 0 && !nextLoading" nz-button nzType="primary">
      <span>上一步</span>
    </button>
    <button nz-button nzType="primary" (click)="next()" *ngIf="current < 1">
      <span>下一步</span>
    </button>
    <button (click)="handleOk()" *ngIf="current === 1 && !nextLoading" [nzLoading]="loading" nz-button nzType="primary">
      保存
    </button>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  </ng-container>
</nz-modal>


