<nz-modal [(nzVisible)]="isVisible" nzWidth="1200px"
          [nzBodyStyle]="{maxHeight: '1000px', overflowY: 'auto'}"
          nzTitle="设置角色权限" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="选择菜单"></nz-step>
      <nz-step nzTitle="配置权限"></nz-step>
    </nz-steps>
    <div class="steps-content-0" *ngIf="current == 0">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <div  class="tree-panel">
            <h3>PC端菜单</h3>
            <nz-tree #menuPcTree
                     [nzData]="pcMenus"
                     nzCheckable
                     nzMultiple
                     nzExpandAll
                     [(nzCheckedKeys)]="checkedMenuIds"
            ></nz-tree>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div  class="tree-panel">
            <h3>移动端菜单</h3>
            <nz-tree #menuAppTree
                     [nzData]="appMenus"
                     nzCheckable
                     nzMultiple
                     nzExpandAll
                     [(nzCheckedKeys)]="checkedMenuIds"
            ></nz-tree>
          </div>
        </div>
      </div>

    </div>
    <div class="steps-content-1" *ngIf="current == 1">
      <div class="permission-panel" *ngIf="pcMenuPermissions && pcMenuPermissions.length > 0">
        <h3>PC端</h3>
        <div nz-row [nzGutter]="24">
          <ng-container *ngFor="let item of pcMenuPermissions; let i = index">
            <app-menu-permissions nz-col [nzSpan]="8" [(ngModel)]="pcMenuPermissions[i]" />
          </ng-container>
        </div>
      </div>
      <div class="permission-panel" *ngIf="appMenuPermissions && appMenuPermissions.length > 0">
        <h3>移动端</h3>
        <div nz-row [nzGutter]="24">
          <ng-container *ngFor="let item of appMenuPermissions; let i = index">
            <app-menu-permissions nz-col [nzSpan]="8" [(ngModel)]="appMenuPermissions[i]" />
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="pre()" *ngIf="current > 0">
      <span>上一步</span>
    </button>
    <button nz-button nzType="primary" (click)="next()" *ngIf="current < 1">
      <span>下一步</span>
    </button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="handleOk()" *ngIf="current === 1">保存</button>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  </ng-container>
</nz-modal>


