:host {
  display: block;
  height: 100%;
}

:host [nz-card] {
  height: 100%;
}

.dept-tree-toolbar {
  text-align: right;
}

.dept-tree-toolbar [nz-button] {
  margin-left: 8px;
}
.file-name, .folder-name {
  margin-left: 4px;
}

.spin-container {
  height: 100%;
  min-height: 400px;
}
