:host {
  display: block;
  height: 100%;
}

.resource-group-list {
  height: calc(100% - 41px);
  overflow-y: auto;
}

.resource-group-footer {
  height: 41px;
  border-top: 1px solid rgba(240, 240, 240, 0.9);
}

.resource-group-header {
  padding-left: 12px;
  font-size: 1.1em;
  font-weight: bold;
  height: 56px;
  line-height: 32px;
}
.resource-group-actions {
  text-align: right;
  padding-right: 8px;
}
.resource-group-actions [nz-button] {
  margin-left: 8px;
}
.resource-group-item {
  cursor: pointer;
  user-select: none;
  padding: 8px 16px;
}

.resource-group-item:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #e6f7ff;
  color: #1890ff;
}

.selected:hover {
  background-color: #e6f7ff;
}

.resource-group-item-clear:hover {
  color: #1890ff;
}

.sort-num {
  text-align: right;
  color: #999;
  padding-right: 8px;
}

.spin-container {
  height: 100%;
  min-height: 400px;
}
