<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [(nzVisible)]="isVisible"
          [nzOkLoading]="loading" [nzTitle]="isEdit ? '修改资源' : '添加资源'" nzWidth="800px">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="dataForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">平台</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-row>
            <div [nzSpan]="16" nz-col>
              <nz-radio-group [nzDisabled]="true" formControlName="platform">
                <label [nzValue]="1" nz-radio>PC端</label>
                <label [nzValue]="2" nz-radio>移动端</label>
              </nz-radio-group>
            </div>
            <div [nzSpan]="8" class="text-align-right" nz-col>
              <button (click)="syncMappingInfo()"
                      *ngIf="isEdit" [nzLoading]="resourceMappingLoading" nz-button
                      nz-tooltip
                      nzShape="circle" nzTooltipTitle="同步控制层的资源信息"
                      nzType="default">
                <span nz-icon nzTheme="outline" nzType="retweet"></span>
              </button>
            </div>
          </div>

        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!isEdit">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="groupName">资源组名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="groupName" id="groupName" nz-input readonly/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!isEdit">
        <nz-form-label [nzSm]="6" [nzXs]="24">选择资源</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-resource-select (onSelectedChange)="onResourceSelect($event)" [platform]="platform"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="resourceName">资源名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="资源名称不能为空">
          <input nz-input formControlName="resourceName" id="resourceName"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="resourceUrl">资源地址</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="资源地址不能为空">
          <input [readOnly]="!isEdit" formControlName="resourceUrl" id="resourceUrl" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="requestMethod">请求方式</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请求方式不能为空">
          <input [readOnly]="!isEdit" formControlName="requestMethod" id="requestMethod" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="controller">控制层类</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="控制层类不能为空">
          <input [readOnly]="!isEdit" formControlName="controller" id="controller" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="method">控制层方法</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="控制层方法不能为空">
          <input [readOnly]="!isEdit" formControlName="method" id="method" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isAuthedAccess">登录即可访问</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="isAuthedAccess" id="isAuthedAccess"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

