<nz-modal [(nzVisible)]="isVisible" nzWidth="800px" [nzTitle]="isEdit ? '修改字典项' : '添加字典项'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="dataForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dictionaryName">字典名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="dictionaryName" id="dictionaryName" readonly/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="dataForm.value.parentName">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="parentName">上级</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="parentName" id="parentName" readonly/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">值</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="值不能为空">
          <input nz-input formControlName="code" id="code"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="名称不能为空">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="extension">扩展信息</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="extension" id="extension" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

