<nz-modal (nzOnCancel)="isVisible = false" (nzOnOk)="isVisible = false" [(nzVisible)]="isVisible" nzTitle="方法信息"
          nzWidth="1200px">
  <ng-container *nzModalContent>
    <ng-container  *ngIf="data">
      <p style="padding-bottom: 12px;">
        方法： {{data.serviceClass}}#{{data.serviceMethod}}
      </p>
      <nz-tabset nzType="card">
        <nz-tab nzTitle="参数">
          <markdown [data]="in" class="json-code"></markdown>
        </nz-tab>
        <nz-tab nzTitle="返回结果">
          <markdown [data]="out" class="json-code"></markdown>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </ng-container>
</nz-modal>

<ng-template #resultEmpty>
  <nz-empty nzNotFoundImage="simple" nzNotFoundContent="无"></nz-empty>
</ng-template>
