.search-form-bar {
  margin-bottom: 24px;
}
.search-bar-line {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 18px;
}
.search-form {
  width: calc(100% - 120px);
  min-height: 64px;
  margin-right: 24px;
}

.single-line {
  padding-top: 18px;
}
.search-form-button {
  width: 120px;
  text-align: right;
  border-left: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.search-form-button [nz-button] {
  margin-bottom: 10px;
}

.search-form-button [nz-button]:last-child {
  margin-bottom: 0;
}

.collapsed-btn {
  border: 1px solid #ddd;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.collapsed {
  transform: rotate(90deg);
  color: #424242;
}

.un-collapsed {
  transform: rotate(-90deg);
  color: #424242;
}

.collapsed-btn:hover {
  background-color: #eee;
}

.collapsed-btn:hover .collapsed,.collapsed-btn:hover .un-collapsed {
  color: #1890ff;
}

:host .buttons-left ::ng-deep [nz-button] {
  margin-right: 8px;
}

.buttons-right {
  text-align: right;
}

.buttons-right [nz-button] {
  margin-left: 8px;
}

.collapse {
  margin-left: 8px;
}
