<div class="resource-container" nz-row>
  <div [nzSpan]="4" class="resource-group-container" nz-col>
    <app-resource-group (onSelected)="onResourceGroupSelect($event)" [(platform)]="platform"/>
  </div>

  <div [nzSpan]="20" nz-col style="padding-left: 24px;">
    <app-tpl-search-bar (onSearch)="search()"
                        [buttons]="tableButtons"
                        [formGroup]="searchForm"
                        [items]="[
                            {name: 'resourceName', label: '资源名称', item: resourceName},
                            {name: 'resourceUrl', label: '资源地址', item: resourceUrl},
                            {name: 'controller', label: '控制层类', item: controller},
                            {name: 'method', label: '方法名称', item: method},
                            {name: 'isAuthedAccess', label: '是否受控', item: isAuthedAccess}
                          ]"
                        [loading]="tableLoading"
                        [showHelp]="true">
      <ng-template #resourceName>
        <input formControlName="resourceName" nz-input placeholder="模糊搜索资源名称"/>
      </ng-template>
      <ng-template #resourceUrl>
        <input formControlName="resourceUrl" nz-input placeholder="模糊搜索资源地址"/>
      </ng-template>
      <ng-template #controller>
        <input formControlName="controller" nz-input placeholder="模糊搜索控制层类"/>
      </ng-template>
      <ng-template #method>
        <input formControlName="method" nz-input placeholder="方法名称"/>
      </ng-template>
      <ng-template #isAuthedAccess>
        <nz-select formControlName="isAuthedAccess" nzAllowClear style="width: 100%">
          <nz-option [nzValue]="false" nzLabel="受控"></nz-option>
          <nz-option [nzValue]="true" nzLabel="登录即可访问"></nz-option>
        </nz-select>
      </ng-template>
      <ng-container *searchBarHelp>
        <ul style="margin-top: 1em;padding-left: 20px">
          <li>资源即控制层暴露的 HTTP 接口</li>
          <li>添加资源时必须选择资源组</li>
          <li>受控的资源可以配置权限，登录即可访问的资源不能配置任何权限</li>
          <li>展开表格可查看资源关联的权限</li>
        </ul>
      </ng-container>
    </app-tpl-search-bar>

    <ng-template #tableButtons>
      <button (click)="showAddModal()"
              *permIf="'RESOURCE_ADD'" [disabled]="!this.selectedResourceGroup"
              nz-button nzType="primary">
        <span nz-icon nzType="plus"></span>
        新增
      </button>
      <button (click)="showBatchAddModal()"
              *permIf="['RESOURCE_ADD', 'RESOURCE_BATCH_ADD']" [disabled]="!this.selectedResourceGroup"
              nz-button nzType="primary">
        <span nz-icon nzType="plus"></span>
        批量新增
      </button>
      <button (click)="checkAllResource()" [nzLoading]="checkResourceLoading" nz-button nzDanger nzType="primary">
        检验资源有效性
      </button>
    </ng-template>

    <app-box-container>
      <nz-table #basicTable
                [(nzPageIndex)]="tableOptions.pageIndex"
                [(nzPageSize)]="tableOptions.pageSize"
                [nzData]="resources"
                [nzFrontPagination]="false"
                [nzLoading]="tableLoading"
                [nzTotal]="tableOptions.total"
                nzBordered
                nzShowPagination
                nzSize="small"
                nzTableLayout="fixed">
        <thead>
        <tr>
          <th nzWidth="60px"></th>
          <th nzWidth="150px">资源名称</th>
          <th nzWidth="100px">请求方式</th>
          <th>资源地址</th>
          <th>控制层类</th>
          <th nzWidth="200px">方法</th>
          <th nzWidth="150px">是否受控</th>
          <th nzWidth="160px">创建时间</th>
          <th nzWidth="250px">操作</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr>
            <td (nzExpandChange)="onExpandChange(data.resourceId, $event)"
                [nzExpand]="expandSet.has(data.resourceId)"></td>
            <td>
                <span *ngIf="data.isInvalid"
                      nz-icon nz-tooltip
                      nzTheme="twotone"
                      nzTooltipTitle="此资源已失效，可能是接口地址已被修改"
                      nzTwotoneColor="#f50" nzType="warning"></span>
              {{ data.resourceName }}
            </td>
            <td>{{ data.requestMethod }}</td>
            <td [nzEllipsis]="true" [title]="data.resourceUrl">{{ data.resourceUrl }}</td>
            <td [nzEllipsis]="true" [title]="data.controller">{{ data.controller }}</td>
            <td [nzEllipsis]="true">{{ data.method }}</td>
            <td>{{ data.isAuthedAccess ? '登录即可访问' : '受控' }}</td>
            <td>{{ data.createTime }}</td>
            <td>
              <button (click)="showUpdateModal(data)"
                      *permIf="'RESOURCE_UPDATE'" nz-button
                      nzSize="small"
                      nzType="default"
              >修改
              </button>
              <button (nzOnConfirm)="doDelete(data.resourceId)"
                      *permIf="'RESOURCE_DELETE'" [nzLoading]="deleteLoading"
                      nz-button
                      nz-popconfirm
                      nzDanger
                      nzPopconfirmTitle="是否确认删除此用户?"
                      nzSize="small"
                      nzType="primary">删除
              </button>
              <ng-container *permIf="'RESOURCE_ASSIGN_PERMISSION'">
                <button (click)="showPermissionsModal(data)" *ngIf="!data.isAuthedAccess"
                        nz-button
                        nzSize="small"
                        nzType="default">
                  配置权限
                </button>
              </ng-container>

            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.resourceId)">
            <label>关联权限：</label>
            <ng-container *ngFor="let item of data.permissions">
              <nz-tag nzColor="processing">{{ item.permissionName }} ({{ item.permissionCode }})</nz-tag>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </app-box-container>
  </div>
</div>

<app-resource-edit-modal #resourceEditModalComponent (onSuccess)="loadData()"/>
<app-resource-permission-modal #resourcePermissionModalComponent [platform]="platform" (onSuccess)="loadData()"/>
<app-resource-batch-add #resourceBatchAddComponent (onSuccess)="loadData()"/>
<app-check-resource-modal #checkResourceModalComponent/>
