:host {
  background-color: white;
}
.search-form-bar {
  margin-bottom: 24px;
  background-color: white;
  padding: 24px 24px 24px 24px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09)
}
.search-bar-line {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 18px;
}
.searchbar-form-right-layout {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.search-form {
  min-height: 32px;
  margin-right: 24px;
}
.search-form-bottom-right {
  width: 100%;
}
.search-form-right {
  width: calc(100% - 120px);
}
.single-line {
  padding-top: 18px;
}
:host .single-line-compact ::ng-deep nz-form-item {
  margin-bottom: 0;
}
.search-form-button {
  width: 120px;
  text-align: right;
  border-left: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.search-form-button [nz-button] {
  margin-bottom: 10px;
}

.search-form-button [nz-button]:last-child {
  margin-bottom: 0;
}

.collapsed-btn {
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 24px;
}

.collapsed {
  transform: rotate(90deg);
  color: #424242;
}

.un-collapsed {
  transform: rotate(-90deg);
  color: #424242;
}

.collapsed-btn:hover {
  background-color: #eee;
}

.collapsed-btn:hover .collapsed,.collapsed-btn:hover .un-collapsed {
  color: #1890ff;
}

:host .buttons-left ::ng-deep [nz-button] {
  margin-right: 8px;
}

.buttons-right {
  text-align: right;
}

.buttons-right [nz-button] {
  margin-left: 8px;
}

.collapse {
  margin-left: 8px;
}

.help {
  margin-left: 8px;
  color: gray;
  cursor: pointer;
}

.help:hover {
  color: #424242;
}

