<app-details-operation-bar>
  <ng-container *permIf="'USER_GROUP_CHANGE_STATE'">
    <button (click)="toggleState(true)"
            *ngIf="!userGroup?.isEnable"
            class="ant-btn-success"
            nz-button
            nzType="default">启用
    </button>
    <button (click)="toggleState(false)"
            *ngIf="userGroup?.isEnable"
            nz-button
            nzDanger
            nzType="default">禁用
    </button>
  </ng-container>
</app-details-operation-bar>

<app-section dkTitle="用户组基本信息">
  <nz-skeleton [nzActive]="true" [nzLoading]="detailsLoading">
    <ng-container *ngIf="userGroup">
      <nz-descriptions nzBordered style="margin-bottom: 24px">
        <nz-descriptions-item nzTitle="用户组名">{{ userGroup.userGroupName }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="状态">
          <nz-badge *ngIf="userGroup.isEnable" nzStatus="success" nzText="正常"></nz-badge>
          <nz-badge *ngIf="!userGroup.isEnable" nzStatus="error" nzText="停用"></nz-badge>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建时间">{{ userGroup.createTime }}</nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
  </nz-skeleton>
</app-section>


<app-section [dkExtra]="roleButtons" dkSize="large" dkTitle="拥有角色">
  <ng-template #roleButtons>
    <button (click)="addRoles()"
            *permIf="'USER_GROUP_ASSIGN_ROLE'"
            [nzLoading]="roleAddLoading"
            nz-button nzType="primary">添加
    </button>
    <button (click)="loadRoles()" [nzLoading]="roleTableLoading" nz-button nzType="default">
      <span nz-icon nzType="reload"></span>重新加载
    </button>
  </ng-template>

  <nz-table #roleTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="roleTableOptions.total"
            [(nzPageIndex)]="roleTableOptions.page"
            [(nzPageSize)]="roleTableOptions.pageSize"
            [nzLoading]="roleTableLoading"
            [nzData]="roles"
            (nzPageSizeChange)="loadRoles()"
            (nzPageIndexChange)="loadRoles()">
    <thead>
    <tr>
      <th>角色编码</th>
      <th>角色名称</th>
      <th>状态</th>
      <th>是否内置</th>
      <th>创建时间</th>
      <th nzWidth="100px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of roleTable.data">
      <td>{{ data.roleCode }}</td>
      <td>
        <ng-container *permIf="'PEM_ROLE_DETAILS' else roleNameTpl">
          <a [queryParams]="{roleId: data.roleId}" routerLink="/sys/role/details">{{ data.roleName }}</a>
        </ng-container>
        <ng-template #roleNameTpl>
          {{ data.roleName }}
        </ng-template>
      </td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
      <td>{{ data.isBuiltIn ? '是' : '否' }}</td>
      <td>{{ data.createTime }}</td>
      <td>
        <button nz-tooltip
                nzTooltipTitle="从用户组中移除此角色"
                nz-popconfirm
                nzPopconfirmTitle="是否确认移除此角色?"
                nzPopconfirmPlacement="bottom"
                nz-button
                nzSize="small"
                nzType="default"
                nzShape="circle"
                (nzOnConfirm)="removeRole(data)">
          <span nz-icon nzType="minus" nzTheme="outline"></span>
        </button>

      </td>
    </tr>
    </tbody>
  </nz-table>
</app-section>

<ng-template #roleSelector>
  <p>请选择角色，支持多选和筛选</p>
  <app-role-select [(ngModel)]="selectedRoles" dkWidth="100%"/>
</ng-template>

<app-section [dkExtra]="userButtons" dkSize="large" dkTitle="用户列表">
  <ng-template #userButtons>
    <button (click)="addUsers()"
            *permIf="'USER_GROUP_ADD_USER'"
            [nzLoading]="userAddLoading"
            nz-button nzType="primary">添加
    </button>
    <button (click)="loadUsers()" [nzLoading]="userTableLoading" nz-button nzType="default">
      <span nz-icon nzType="reload"></span>重新加载
    </button>
  </ng-template>
  <nz-table #basicTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="userTableOptions.total"
            [(nzPageIndex)]="userTableOptions.page"
            [(nzPageSize)]="userTableOptions.pageSize"
            [nzLoading]="userTableLoading"
            [nzData]="users"
            (nzPageSizeChange)="loadUsers()"
            (nzPageIndexChange)="loadUsers()">
    <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>状态</th>
      <th nzWidth="60px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <ng-container *permIf="'USER_DETAILS' else userName">
          <a [queryParams]="{userId: data.userId}" routerLink="/sys/user/details">{{ data.username }}</a>
        </ng-container>
        <ng-template #userName>
          {{ data.username }}
        </ng-template>
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
      <td>
        <button nz-tooltip
                nzTooltipTitle="从用户组中移除此用户"
                nz-popconfirm
                nzPopconfirmTitle="是否确认移除此用户?"
                nzPopconfirmPlacement="bottom"
                nz-button
                nzSize="small"
                nzType="default"
                nzShape="circle"
                (nzOnConfirm)="removeUser(data)">
          <span nz-icon nzType="minus" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</app-section>

<ng-template #userSelector>
  <p>请选择用户，支持多选和筛选</p>
  <app-user-select [(ngModel)]="selectedUsers" dkMode="multiple" dkWidth="100%"/>
</ng-template>
