:host {
  height: 100%;
  background-color: white;
  display: flex;
}

.sidebar {
  background-color: white;
  height: 100%;
}

.sidebar-border {
  border: 1px solid #f0f0f0;
}

.content {
  padding-left: 24px;
}
