<app-section dkTitle="角色信息" [dkExtra]="actions">
  <nz-descriptions nzBordered style="margin-bottom: 24px" *ngIf="roleDetails">
    <nz-descriptions-item nzTitle="角色名称">{{ roleDetails.roleName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="角色编码">{{ roleDetails.roleCode }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态">
      <nz-badge nzStatus="success" *ngIf="roleDetails.isEnable" nzText="正常"></nz-badge>
      <nz-badge nzStatus="error" *ngIf="!roleDetails.isEnable" nzText="停用"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间">{{ roleDetails.createTime }}</nz-descriptions-item>
  </nz-descriptions>
  <ng-template #actions>
    <button *ngIf="!roleDetails?.isEnable"
            nz-button nzDanger
            nzSize="small"
            nzType="default"
            class="ant-btn-success"
            (click)="toggleState(true)">启用</button>
    <button  *ngIf="roleDetails?.isEnable"
             nz-button
             nzDanger
             nzSize="small"
             nzType="default"
             (click)="toggleState(false)">禁用</button>
  </ng-template>
</app-section>

<app-section dkTitle="关联权限">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="hasAppMenuPermission ? 12 : 24">
      <app-role-menu-table [dkRoleMenus]="pcMenuPermissions" [dkLoading]="permissionTableLoading" dkTitle="PC端" />
    </div>
    <div nz-col [nzSpan]="12" *ngIf="hasAppMenuPermission">
      <app-role-menu-table [dkRoleMenus]="appMenuPermissions" [dkLoading]="permissionTableLoading" dkTitle="移动端" />
    </div>
  </div>

</app-section>

<app-section dkTitle="关联用户">
  <nz-table #userTable
            nzSize="small"
            nzTableLayout="fixed"
            [nzFrontPagination]="false"
            nzShowPagination
            [nzTotal]="userTableOptions.total"
            [(nzPageIndex)]="userTableOptions.page"
            [(nzPageSize)]="userTableOptions.pageSize"
            [nzLoading]="userTableLoading"
            [nzData]="users"
            (nzPageSizeChange)="loadUsers()"
            (nzPageIndexChange)="loadUsers()"
            nzBordered>
    <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>所在部门</th>
      <th>职位</th>
      <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userTable.data">
      <td><a routerLink="/sys/user/details" [queryParams]="{userId: data.userId}" >{{ data.username }}</a></td>
      <td>{{ data.name }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.deptName }}</td>
      <td>{{ data.positionName }}</td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
    </tr>
    </tbody>
  </nz-table>
</app-section>

