<app-section dkTitle="角色信息" [dkExtra]="actions">
  <nz-descriptions nzBordered style="margin-bottom: 24px" *ngIf="roleDetails">
    <nz-descriptions-item nzTitle="角色名称">{{ roleDetails.roleName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="角色编码">{{ roleDetails.roleCode }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态">{{ roleDetails.isEnable ? '正常' : '停用' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间">{{ roleDetails.createTime }}</nz-descriptions-item>
  </nz-descriptions>
  <ng-template #actions>
    <button nz-button nzDanger nzSize="small" nzType="default" class="ant-btn-success">启用</button>
    <button nz-button nzDanger nzSize="small" nzType="default">禁用</button>
  </ng-template>
</app-section>

<app-section dkTitle="关联权限">
  <nz-table #expandTable
            [nzData]="rolePermissions"
            nzSize="small"
            nzTableLayout="fixed"
            nzBordered
            [nzLoading]="permissionTableLoading"
            [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="300px">菜单名称</th>
      <th nzWidth="180px">类型</th>
      <th>权限</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.menuId]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level! * 20"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.menuId], item, $event)"
          >
            <span nz-icon [nzType]="item.menuIcon" nzTheme="outline" *ngIf="item.menuIcon"></span>
            {{ item.menuName }}
          </td>
          <td>{{ item.menuType == 1 ? '菜单组' : '菜单项' }}</td>
          <td>
            @for (p of item.permissions; track p) {
              <nz-tag nzColor="processing"> {{ p.permissionName }}({{ p.permissionCode }})</nz-tag>
            }
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</app-section>

<app-section dkTitle="关联用户">
  <nz-table #userTable
            nzSize="small"
            nzTableLayout="fixed"
            [nzFrontPagination]="false"
            nzShowPagination
            [nzTotal]="userTableOptions.total"
            [(nzPageIndex)]="userTableOptions.page"
            [(nzPageSize)]="userTableOptions.pageSize"
            [nzLoading]="userTableLoading"
            [nzData]="users"
            (nzPageSizeChange)="loadUsers()"
            (nzPageIndexChange)="loadUsers()"
            nzBordered>
    <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>所在部门</th>
      <th>职位</th>
      <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userTable.data">
      <td><a routerLink="/sys/user/details" [queryParams]="{userId: data.userId}" >{{ data.username }}</a></td>
      <td>{{ data.name }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.deptName }}</td>
      <td>{{ data.positionName }}</td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
    </tr>
    </tbody>
  </nz-table>
</app-section>

