<app-details-operation-bar>
  <ng-container *permIf="'POSITION_CHANGE_STATE'">
    <ng-container *ngIf="position && !position.isBuiltIn">
      <button (click)="toggleState(true)"
              *ngIf="!position?.isEnable" [nzLoading]="stateLoading"
              class="ant-btn-success"
              nz-button
              nzType="default">启用
      </button>
      <button (click)="toggleState(false)"
              *ngIf="position?.isEnable" [nzLoading]="stateLoading" nz-button
              nzDanger
              nzType="default">禁用
      </button>
    </ng-container>
  </ng-container>
</app-details-operation-bar>
<app-section dkTitle="职位信息">
  <nz-skeleton [nzActive]="true" [nzLoading]="detailsLoading">
    <nz-descriptions nzBordered style="margin-bottom: 24px" *ngIf="position">
      <nz-descriptions-item nzTitle="职位名称">{{ position.positionName }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="职位编码">{{ position.positionCode }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="状态">{{ position.isEnable ? '正常' : '停用' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否内置">{{ position.isBuiltIn ? '是' : '否' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="用户数量">{{ position.userNums }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建时间">{{ position.createTime }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-skeleton>
</app-section>

<app-section [dkExtra]="userButtons" dkSize="large" dkTitle="用户列表">
  <nz-table #userTable
            [nzFrontPagination]="false"
            nzShowPagination
            nzBordered
            nzSize="small"
            [nzTotal]="userTableOptions.total"
            [(nzPageIndex)]="userTableOptions.page"
            [(nzPageSize)]="userTableOptions.pageSize"
            [nzLoading]="userTableLoading"
            [nzData]="users"
            (nzPageSizeChange)="loadUsers()"
            (nzPageIndexChange)="loadUsers()">
    <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>所在部门</th>
      <th>手机号</th>
      <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userTable.data">
      <td>
        <ng-container *permIf="'USER_DETAILS' else userName">
          <a [queryParams]="{userId: data.userId}" routerLink="/sys/user/details">{{ data.username }}</a>
        </ng-container>
        <ng-template #userName>
          {{ data.username }}
        </ng-template>
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.deptName }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.isEnable ? '正常' : '停用' }}</td>
    </tr>
    </tbody>
  </nz-table>
</app-section>

<ng-template #userButtons>
  <button (click)="loadUsers()" [nzLoading]="userTableLoading" nz-button nzType="default">
    <span nz-icon nzType="reload"></span> 重新加载
  </button>
</ng-template>
