.section {
  background: white;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09)
}

.section-header {
  margin-bottom: 24px;
  background-color: rgba(240,240,240, 0.6);

}

.section-title {
  font-size: 1.25em;
  font-weight: 500;
  border-left: 5px solid #1890ff;
  padding: 6px 0 6px 12px;
  height: 40px;
  line-height: 28px;
}

.section-extra {
  text-align: right;
  padding: 6px 12px;
  line-height: 28px;
}

.section-extra ::ng-deep [nz-button] {
  margin-left: 8px;
}
