<app-tpl-search-bar [formGroup]="searchForm"
                    (onSearch)="search()"
                    [buttons]="tableButtons"
                    [loading]="tableLoading"
                    buttonPosition="R"
                    [items]="[
                          {name: 'roleCode', label: '角色编码', item: roleCode},
                          {name: 'roleName', label: '角色名称', item: roleName},
                        ]">
  <ng-template #roleCode>
    <input nz-input placeholder="模糊搜索角色编码" formControlName="roleCode"/>
  </ng-template>
  <ng-template #roleName>
    <input nz-input placeholder="模糊搜索角色名称" formControlName="roleName"/>
  </ng-template>
  <ng-template #tableButtons>
    <button nz-button nzType="primary" (click)="showAddModal()">
      <span nz-icon nzType="plus"></span>
      新增
    </button>
  </ng-template>
</app-tpl-search-bar>

<nz-table #basicTable
          [nzFrontPagination]="false"
          nzShowPagination
          nzBordered
          nzSize="small"
          [nzTotal]="tableOptions.total"
          [(nzPageIndex)]="tableOptions.pageIndex"
          [(nzPageSize)]="tableOptions.pageSize"
          [nzLoading]="tableLoading"
          [nzData]="roles"
          (nzPageSizeChange)="loadRoles()"
          (nzPageIndexChange)="loadRoles()">
  <thead>
  <tr>
    <th>角色编码</th>
    <th>角色名称</th>
    <th>状态</th>
    <th>是否内置</th>
    <th>创建时间</th>
    <th nzWidth="320px">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.roleCode }}</td>
    <td>{{ data.roleName }}</td>
    <td>{{ data.isEnable ? '正常' : '停用' }}</td>
    <td>{{ data.isBuiltIn ? '是' : '否' }}</td>
    <td>{{ data.createTime }}</td>
    <td>
      <button nz-button nzSize="small" nzType="default" (click)="showEditModal(data)">修改</button>
      <button nz-button nzSize="small"
              nzType="primary"
              [nzLoading]="deleteLoading"
              nz-popconfirm
              nzPopconfirmTitle="是否确认删除此角色?"
              (nzOnConfirm)="delete(data.roleId)"
              nzDanger>删除
      </button>
      <button *ngIf="data.isEnable"
              [nzLoading]="stateLoading"
              nz-button nzSize="small"
              nzType="default" nzDanger (click)="disable(data)">禁用
      </button>
      <button *ngIf="!data.isEnable"
              [nzLoading]="stateLoading"
              nz-button nzSize="small"
              nzType="default" nzDanger (click)="enable(data)">启用
      </button>
      <button nz-button nzSize="small"
              nzType="default" (click)="showPermissionSetModal(data.roleId)">设置权限
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-role-edit-modal #roleEditModalComponent (onSuccess)="loadRoles()" />
<app-permissions-set-modal #permissionsSetModalComponent />
