<ul nz-list>
  <nz-list-header>
    <div nz-row>
      <div nz-col [nzSpan]="6" class="header-title">字典列表</div>
      <div nz-col [nzSpan]="18" class="header-buttons">
        <button (click)="showAddModal()"
                *permIf="'DICT_ADD'" nz-button
                nzShape="circle" nzType="default">
          <span nz-icon nzType="plus"></span>
        </button>
        <ng-container *permIf="'DICT_UPDATE'">
          <button (click)="showUpdateModal(selectedDict)" *ngIf="selectedDict" nz-button
                  nzShape="circle" nzType="default">
            <span nz-icon nzType="edit"></span>
          </button>
        </ng-container>
        <ng-container *permIf="'DICT_DELETE'">
          <button (click)="doDelete()" *ngIf="selectedDict" nz-button nzShape="circle" nzType="default">
            <span nz-icon nzType="delete"></span>
          </button>
        </ng-container>
        <button nz-button nzType="default" nzShape="circle" [nzLoading]="loading" (click)="loadDictionaries()">
          <span nz-icon nzType="reload"></span>
        </button>
      </div>
    </div>
  </nz-list-header>
  <nz-spin [nzSpinning]="loading">
    <div style="height: 400px" *ngIf="loading"></div>
  </nz-spin>
  @for (item of dictionaries; track item.dictionaryId) {
    <nz-list-item [class]="getDictionaryListItemClass(item)" [nzNoFlex]="true" (click)="select(item)">
      <div nz-row>
        <div nz-col [nzSpan]="14">
          <ng-container *ngIf="item.dictionaryType == 1">
            <span nz-icon nzType="bars" nzTheme="outline"></span>
          </ng-container>
          <ng-container *ngIf="item.dictionaryType == 2">
            <iconify icon="carbon:tree-view-alt" [size]="14"/>
          </ng-container>
          {{ item.dictionaryName }}
        </div>
        <div nz-col [nzSpan]="10" class="dict-code">
          {{ item.dictionaryCode }}
        </div>
      </div>

    </nz-list-item>
  }
</ul>

<app-dict-edit-modal #dictEditModalComponent (onSuccess)="loadDictionaries()"/>
