/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

nz-table [nz-button] {
  margin-right: 8px;
}

.big-font-size {

}

.big-font-size .ant-table {
  font-size: 16px;
}

.ant-btn-success {
  color: #389e0d;
  border-color: #389e0d;
  background: #fff;
}

.ant-btn-success:hover {
  color: #52c41a;
  border-color: #52c41a;
  background: #fff;
}

.ant-btn-success.ant-btn-primary {
  color: #fff;
  border-color: #389e0d;
  background: #389e0d;
}

.ant-btn-success.ant-btn-primary:hover {
  color: #fff;
  border-color: #52c41a;
  background: #52c41a;
}

.ant-icon-btn {
  cursor: pointer;
}

.ant-icon-btn:hover {
  color: #1890ff;
}

.text-align-right {
  text-align: right;
}

.std-gutter-bottom {
  margin-bottom: 12px;
}
