<nz-spin [nzSpinning]="loading" class="spin-menu-container">
  <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="light">
    <ng-template #menuItem let-item="item">
      <ng-template #menuTitle>
        <app-menu-icon [icon]="item.menuIcon" style="margin-right: 3px"/>
        <span *ngIf="!isCollapsed">{{ item.menuName }}</span>
      </ng-template>
      <li *ngIf="item.menuType == 1" [nzOpen]="true" [nzPaddingLeft]="(item.level) * 24" [nzTitle]="menuTitle"
          nz-submenu>
        <ul *ngIf="item.children && item.children.length > 0">
          <ng-container *ngFor="let childItem of item.children; let i = index">
            <ng-container *ngTemplateOutlet="menuItem; context: { item: childItem }"></ng-container>
          </ng-container>
        </ul>
      </li>
      <li *ngIf="item.menuType == 2" [nzPaddingLeft]="(item.level) * 24" nz-menu-item nzMatchRouter>
        <!--<span nz-icon [nzType]="item.menuIcon" nzTheme="outline"></span>&nbsp;&nbsp;-->
        <app-menu-icon [icon]="item.menuIcon" style="margin-right: 3px"/>
        <a *ngIf="item.menuUrl" [routerLink]="item.menuUrl">{{ item.menuName }}</a>
        <a *ngIf="!item.menuUrl">{{ item.menuName }}</a>
      </li>
    </ng-template>

    @for (item of menuItems; track item.menuId) {
      <ng-container *ngTemplateOutlet="menuItem; context: { item: item }"></ng-container>
    }
  </ul>
</nz-spin>

