.section {
  margin-bottom: 24px;
}

.section-header {
  margin-bottom: 24px;
}

.section-title {
  font-size: 1.3em;
  font-weight: bold;
}

.section-extra {
  text-align: right;
}

.section-extra ::ng-deep [nz-button] {
  margin-left: 8px;
}
